@font-face {
  font-family: 'Lato-Light';
  src: url('../fonts/Lato-Light.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato-Bold';
  src: url('../fonts/Lato-Bold.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato-Regular';
  src: url('../fonts/Lato-Regular.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}

a > h4:hover {
    text-decoration: underline;
}

.trans {
  background-color: transparent;
}

.btn-bro {
    background-color: #f97e05;
    border-color: #f97e05;
    color: #ffffff;
}

.btn-o {
    background: none;
}

.btn-bro.btn-o {
    border: 1px solid #f97e05;
    color: #f97e05;
}

.newtable {
  border-collapse: collapse;
  border: 1px solid black;
  padding: 15px;
}

.lyt-2 #sidebar .sidebar-container {
  margin: 0;
  background-color: #111f3b !important;
}

#sidebar > div nav > ul > li.active.open, #sidebar > div nav > ul > li.active:hover {
  background: #2f436a !important;
}

.lyt-2 #sidebar > div nav > ul > li.active {
  border-left: 4px solid #f89231 !important;
  transition: all 0.4s;
  background: #2C2F3B;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.navbar .navbar-header .sidebar-mobile-toggler {
  background-color: #f89231 !important;
  border-color: #f89231 !important;
  color: #ffffff ;
}

.navbar .navbar-collapse .navbar-left > li.sidebar-toggler-wrapper .btn {
  background-color: #f89231 !important;
  border-color: #f89231 !important;
  color: #ffffff !important;
}

.no-touch #sidebar > div nav > ul > li:hover {
  background: #2f436a !important;
}

.navbar-default .navbar-brand {
  background-color: #111f3b !important;
}

.navbar .navbar-header .sidebar-mobile-toggler:focus {
    background-color: #f89231 !important;
    border-color: #f89231 !important;
    color: #ffffff !important;
}

.navbar .navbar-header .sidebar-mobile-toggler:hover {
    background-color: #f5ae6a !important;
    border-color: #f5ae6a !important;
    color: #ffffff !important;
}



thead > td{
  font-family: lato-bold;
}

.logo {
  width: 188px;
}

.logo2 {
  height: 40px;
}
.pas {
  height: 100px;
}

@media (max-width: 320px){
  .pas {
    height: 50px;
  }
}

.tinggi {
  height: 75px;
}

.huruf {
  font-size: 24px;
  
}

.modal-full {
  height: 100%;
}

.icon-hover:hover {
  background-color: #d8dbdc;
  padding-top: 5px;
  padding-bottom: 5px;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 0px !important;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
    font-size: 14px !important;
    height:27px !important;
}

.form-control {
    display: block !important;
    width: 100%;
    height: auto !important;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}